.Around-container {
  position: fixed;
  pointer-events: none;
  transition: box-shadow 50ms linear; }
  .Around-container.hover {
    box-shadow: 0px 0px 0px 0px #fc5185; }
    .Around-container.hover.exists {
      box-shadow: 0px 0px 0px 5px #fc5185;
      transition: box-shadow 150ms linear; }
  .Around-container.selected {
    box-shadow: 0px 0px 0px 0px orangered; }
    .Around-container.selected.exists {
      box-shadow: 0px 0px 0px 2px orangered;
      transition: box-shadow 150ms linear; }
