.IconButton-container {
    width: 50px;
    padding: 5px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ccc;
    cursor: pointer;

    .icon {
        font-size: 30px;
    }

    .label {
        padding-top: 5px;
        font-size: 12px;
        text-align: center;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
    }
}
