.IconLibrary-container {
    position: relative;
}
.IconLibrary-container .content {
    color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.IconLibrary-container .content .icon {
    cursor: pointer;
}
.IconLibrary-container .content .icon i {
    color: #ddd;
}
.IconLibrary-container .content .icon:hover i {
    color: orange;
}
.IconLibrary-container .preview {
    position: absolute;
    top: 10px;
    left: -130px;
}
.IconLibrary-container .preview i {
    font-size: 100px;
    color: white;
}
