.Properties-container {
  max-width: 300px;
  max-height: 540px;
  overflow: auto;
  padding-bottom: 10px;
  color: #ccc; }
  .Properties-container .Property-container {
    display: flex;
    align-items: baseline; }
    .Properties-container .Property-container:hover {
      background-color: #444; }
    .Properties-container .Property-container .key {
      font-size: 14px;
      flex: 1;
      text-indent: 5px;
      cursor: pointer;
      position: relative; }
      .Properties-container .Property-container .key:hover {
        color: orange; }
    .Properties-container .Property-container .value {
      font-size: 15px;
      background-color: transparent;
      color: #ccc;
      width: 80px;
      border: none;
      padding: 2px 5px; }
