html {
    min-height: 100%;
    max-height: 100%;
}

html,
body,
#root,
#router {
    display: flex;
    align-items: stretch;
    flex: 1;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    flex: 1;
}

html,
body,
input,
textarea,
button {
    font-family: "Rubik", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
