.Checkbox-container {
  display: flex;
  padding: 4px;
  align-items: center;
  flex-direction: row; }
  .Checkbox-container .label {
    font-size: 12px;
    padding-left: 6px; }

.Button-container {
  padding: 0; }

.IconButton-container {
  width: 50px;
  padding: 5px;
  height: 50px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ccc;
  cursor: pointer; }
  .IconButton-container .icon {
    font-size: 30px; }
  .IconButton-container .label {
    padding-top: 5px;
    font-size: 12px;
    text-align: center; }
  .IconButton-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff; }

.Icon-container {
  border-radius: 3px;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  position: relative; }
  .Icon-container .overlay {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    display: none; }
  .Icon-container .icon {
    font-size: 12px; }
  .Icon-container.clickable {
    cursor: pointer; }
    .Icon-container.clickable:hover .overlay {
      display: block; }
